<div class="filter-pick-date">
    <input type="date" class="filter-popup-margin dark-background-white-font noborder" @bind="Filter.MinDate" />
    <p class="filter-popup-margin filter-text">-</p>
    <input type="date" class="filter-popup-margin dark-background-white-font noborder" @bind="Filter.MaxDate" />
</div>

