<div class="filter-popup">
    <p class="filter-popup-margin filter-popup-title">@Filter.Name</p>
    <DynamicComponent Type="Type" Parameters="Parameters" />
    <Button Class="filter-popup-margin filter-popup-button-close" Text="🞬" OnClick="Cancel" />
    <Button Class="filter-popup-margin filter-popup-button-apply" Text="✔" OnClick="ApplyFilter" />
</div>

