<div class="filter-pick-date">
    <input type="time" class="dark-background-white-font filter-popup-margin noborder" @bind="Filter.MinTime" />
    <p class="filter-text">-</p>
    <input type="time" class="dark-background-white-font filter-popup-margin noborder" @bind="Filter.MaxTime" />
</div>

