<div class="filter-pick-date">
    <p class="filter-text">Between</p>
    <input type="time" class="dark-background-white-font filter-popup-margin noborder" @bind="Filter.MinTime" />
    <p class="filter-text">And</p>
    <input type="time" class="dark-background-white-font filter-popup-margin noborder" @bind="Filter.MaxTime" />
</div>

