<div class="filter-popup-test">
    <p class="filter-title">@Filter.Name</p>
    <DynamicComponent Type="Type" Parameters="Parameters" />
    <Button Width="660px; margin-top: 60px; margin-left: 20px" Text="Apply" OnClick="ApplyFilter" />
    <Button Width="660px; margin-left: 20px; margin-top: 10px" Text="Close" OnClick="Cancel" />
</div>

