<button class=@CssClass @onclick="OnButtonClicked">
	@Text
</button>

@code {
	public delegate void OnButtonClick();

	[Parameter]
	public EventCallback<OnButtonClick> OnClick { get; set; }

	private string CssClass { get; set; } = "btn-round";

	private string Text { get; set; } = "Start";
	private bool Started { get; set; }

	private void OnButtonClicked()
	{
		Started = !Started;
		Text = Started ? "Stop" : "Start";
		CssClass = Started ? "btn-started" : "btn-round";

		OnClick.InvokeAsync();
	}
}