<button class="btn-round" @onclick="OnButtonClicked">
    @buttonIndex
</button>

@code {
	public delegate void OnButtonClick();

	[Parameter]
	public EventCallback<OnButtonClick> OnClick { get; set; }


	bool buttonStatus = false;
	public string buttonIndex = "Start";

	private void OnButtonClicked()
	{


		if(buttonStatus == false)
		{
			buttonStatus = true;
			buttonIndex = "Stop";
		}
		else
		{
			buttonStatus = false;
			buttonIndex = "Start";
		}

		OnClick.InvokeAsync();
	}
}