<button class=@CssClass @onclick="OnButtonClicked">
	@Text
</button>

@code {
	public delegate void OnButtonClick();

	[Parameter]
	public EventCallback<OnButtonClick> OnClick { get; set; }

	private string CssClass => Started ? "btn-started" : "btn-round";
	private string Text => Started ? "Stop" : "Start";

	[Parameter]
	public bool Started { get; set; }

	private void OnButtonClicked()
	{
		OnClick.InvokeAsync();
	}
}