@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="img-profile">
                <img src="#" alt="Alternate Text" />
            </div>
            <div>
                <a href="#">Username</a>
                <a href="#">Email</a>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
