@page "/history"

@inject ITimeEntryProvider TimeEntrySource

<PageTitle>History</PageTitle>

<h1>History</h1>


@if (TimeEntrySource.IsLoaded)
{
    <select class="list-list" size="10" style="width: 100%;">
        @foreach (var Entry in TimeEntrySource.GetEntries().TakeLast(15))
        {
            <HistoryEntry Entry="@Entry"/>
        }
    </select>
}
else
{
    <p>Loading...</p>
}
