@page "/history"

<PageTitle>History</PageTitle>

<h1>History</h1>


@if (TimeEntryProvider.TimeEntries != null)
{
    <select class="list-list" size="10" style="width: 100%;">
        @foreach (var Entry in TimeEntryProvider.TimeEntries)
        {
            <HistoryEntry Entry="@Entry"/>
        }
    </select>
}
else
{
    <p>Loading...</p>
}
