<h3>RecordTime</h3>

<RoundButton Text="@ButtonText" @onclick="OnClick"/>

@code {
    public string ButtonText = "Start";
    public bool Started;
    public TimeEntry CurrentEntrys;

    protected void OnClick()
    {
        
    }
}
