@page "/Time"

@inject ITimeEntryProvider TimeEntrySource
@inject IActivityProvider ActivitySource

@implements IDisposable


<PageTitle>Time</PageTitle>

<div class="btn-div">
	<RoundButton OnClick="ToggleClock" Started="@Started" />
</div>

 
@if (!Started)
{
	<div>
		<select id="SelectedActivity" @onchange="CreateNewTask" style="width:100%; height:60%;%">
			<option>Neue Tätigkeit erfassen</option>
			@foreach (var Activity in ActivitySource.GetActivityTitles())
			{
				
				<option value="@Activity.Value">@Activity.Value</option>
			}


		</select>
	</div>
	if (checkIfArgumentIsTrue == true)
	{
		<TextField></TextField>
	}
	<p>
		Tätigkeit
	</p>
	<TextField/>
}
else
{
	<div style="text-align: center; font-size: 80px; " >@passedTime.ToString(@"hh\:mm\:ss")</div>
}
