@page "/Time"

<h3>Time</h3>



<PageTitle>Time</PageTitle>

<RoundButton Text="Start" OnClick="startClock"/>

@if (ActivityTitles != null)
{
	<select>
		@foreach (var ActivityTitle in ActivityTitles)
		{
			<option value="@ActivityTitle.Value">@ActivityTitle.Value</option>
		}
	</select>
	
}

<sfTextBox>Text</sfTextBox>
<div>
	@if (messages.Count > 0)
	{
		@foreach(var message in this.messages)
		{
			<div>
				@message
			</div>
		}
	}
	else
	{
		<span>No entries</span>
	}
</div>

<div>
	<input @bind-value="this.currentMessage" type="text" />
	<button @onclick="this.SendMessage">Senden</button>
</div>