@page "/Time"

@inject ITimeEntryProvider TimeEntrySource
@inject IActivityProvider ActivitySource

<PageTitle>Time</PageTitle>

<RoundButton OnClick="ToggleClock" Started="@Started"/>




<p>
	Tätigkeit
</p>
<TextField />


