@page "/Time"

@inject ITimeEntryProvider TimeEntrySource
@inject IActivityProvider ActivitySource

@implements IDisposable


<PageTitle>Time</PageTitle>

<div style="padding:20px">
	<RoundButton OnClick="ToggleClock" Started="@Started" />
</div>


@if (!Started)
{
	<div>
		<select style="width:100%; height:60%;%">
			<option>Neue Tätigkeit erfassen</option>
			@foreach (var Activity in ActivitySource.GetActivityTitles())
			{
				
				<option value="@Activity.Value">@Activity.Value</option>
			}


		</select>
	</div>

	<p>
		Tätigkeit
	</p>
	<TextField />
}
else
{
	<div>@passedTime.ToString(@"hh\:mm\:ss")</div>
}
