@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Forgot password confirmation</PageTitle>


<div class="vertical-center">
    <div class="centered-div-flex">
        <div>
            <h1>Forgot password confirmation</h1>
            <p>
                Please check your email to reset your password.
            </p>
        </div>
    </div>
</div>
