@inherits LayoutComponentBase
@layout AccountLayout

<div style="padding-left: 12px; padding-right: 12px; scrollbar-width: none;">
    <h1>Manage your account</h1>

    <div>
        <h2>Change your account settings</h2>
        <hr />
        <div class="row">
            <div class="col-md-2">
                <ManageNavMenu />
            </div>
            <div class="col-md-10">
                @Body
            </div>
        </div>
    </div>

</div>
