@using Microsoft.AspNetCore.Components.Web;
@using System.Net.NetworkInformation;

@page "/exception"

@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<PageTitle>Error</PageTitle>

<p class="error-title">Error</p>
<p class="error-message">@Message</p>
<p class="back" @onclick="@(() => Navigation.NavigateTo($"/{Url}"))">🡐 Back</p>


