<div class="filter-pick-date">
    <p class="filter-text">Between</p>
    <input type="date" class="filter-date" @bind="Filter.MinDate" />
    <p class="filter-text">And</p>
    <input type="date" class="filter-date" @bind="Filter.MaxDate" />
</div>

