<div class="filter-pick-date">
    <p class="filter-popup-margin filter-text">Between</p>
    <input type="date" class="filter-popup-margin dark-background-white-font noborder" @bind="Filter.MinDate" />
    <p class="filter-popup-margin filter-text">And</p>
    <input type="date" class="filter-popup-margin dark-background-white-font noborder" @bind="Filter.MaxDate" />
</div>

