<div class="filter-popup">
    <p class="filter-popup-margin filter-popup-title">@Filter.Name</p>
    <DynamicComponent Type="Type" Parameters="Parameters" />
    <Button Class="btn-primary filter-popup-margin filter-popup-button-apply" Text="Apply" OnClick="ApplyFilter" />
    <Button Class="btn-primary filter-popup-margin filter-popup-button-close" Text="Close" OnClick="Cancel" />
</div>

