<div class="filter-pick-date">
    <p class="filter-text">Between</p>
    <input type="time" class="filter-time" @bind="Filter.MinTime" />
    <p class="filter-text">And</p>
    <input type="time" class="filter-time" @bind="Filter.MaxTime" />
</div>

